<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='toback()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>       
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id='btn-download' (click)='camera()'>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>       
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    
  </ion-header> -->

  <!-- <h3>Horizontal Bar Chart using  <a href="https://www.npmjs.com/package/angular2-chartjs">angular2-chartjs</a> </h3> -->
  <chart #chart [type]="type" [data]="data" [options]="options" style="height: 90%;"></chart>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>