// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-title, ion-card-title {
    font-size: large !important;
}

.sc-ion-card-md-h {
    margin-top: 50px !important;
}

.velocity {
    margin: auto;
    width: 30%;
}

.velocity-text {
    margin: auto;
}

.velocity-percent {
    margin: auto;
    font-size: x-small;
}

.velocity-percent-row {
    margin-top: -8px;
}

.process-result {
    margin: auto;
}

.process-result-row {
    margin-top: 10px;
    text-align: center;
}

.alert-about .alert-message{
    font-size: small;
    text-align: justify;
}

.alert-final .alert-message {
    width: 80%;
    text-align: center;
    margin-left: 5%;
}