ion-title{
    text-align: center;
}

@media only screen and (max-width: 550px) {
    
}

@media only screen and (max-width: 429px) {
    ion-title, .ion-button-span  {
        font-size: large !important;
     }

     ion-card-title {
        font-size: large !important;
     }

     .battery-lvl {
        font-size: medium !important;
     }

    //  .ion-icon-card {
    //     font-size: large !important;
       
    // }
          
}

@media only screen and (max-width: 399px) {
    ion-title, .ion-button-span  {
        font-size: medium !important;
     }

    //  ion-icon {
    //     font-size: 18px !important;
    //  }

     ion-card-title {
        font-size: medium !important;
     }

     .battery-lvl {
        font-size: small !important;
     }

    //  .ion-icon-card {
    //     font-size: 20px !important;
       
    // }

}


@media only screen and (max-width: 330px) {
    ion-title, .ion-button-span {
        font-size: 15px !important;
     }

    //  ion-icon, .ion-button-span {
    //     font-size: 16px !important;
    //  }

     ion-card-title {
        font-size: 15px !important;
     }

     .battery-lvl {
        font-size: 11px !important;
     }

    //  .ion-icon-card {
    //     font-size: 18px !important;
       
    // }
     
}

.battery-lvl {
    margin-right: 10px;
 }

.battery-div {
    margin-top: 6px;
}

.battery {    
    transform: rotate(270deg);    
}
.battery-right {
    position: absolute;
    right: 1px;
    width: 20%;
    //color: var(--battery-color);
}
.md {
   // --background: var(--ion-toolbar-background,var(--ion-background-color,#f8f8f8));
    //font-size: x-large;   
    --border-width: 0px;
    
}

.ion-header-home {
    --background: red;
} 

.button-header {
    filter: drop-shadow(2px 4px 6px black);
}

ion-card {
    text-align: center;
    filter: drop-shadow(1px 1px 1px black);
}

.sc-ion-card-md-h {
    
    border-radius: 20px;    
}

ion-card-title {
   margin-bottom: 10px;
}

ion-toolbar {
    --background: transparent;
    
}

.content {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(20px);
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;    
    padding-bottom: 20%;
}

.main-card {
    --background: rgb(41,120,120);
    color: white;   
}
 
 .custom {
    --background: url("/../assets/imgs/IMG_4029.png") no-repeat center center / cover;
    filter: saturate(0.5);
 }

 .ion-card-raw {
     margin-top: 10%;
 }
 

.ion-row-logo {
    margin-top: 10%;
}

.ion-row-logo img {
    max-width: 60%;
    font-size: 20px;
}

.ion-item-div {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.ion-item-div ion-icon {
    width: 100%;
    font-size: 40px;
}

.ion-item-div ion-label {
    font-size: 13px;
    white-space: inherit;
    text-align: center;
}

/* img {
    display: block;
    max-width: 128px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
} */

.alert-message {
    overflow: initial;
}

.alert-md .alert-wrapper {
    max-width: 100%;
}

.alert-md .alert-title {
    text-align: center;
}

.loading-md .loading-wrapper {
    background-color: rgb(237,237,238);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    font-size: large;
}

.custom-file-upload-icon {
    vertical-align: bottom;
}

.custom-file-upload-span {
    margin-left: 5px;
}

.center-text{
    font-size: 17px;
  
}

.light-shadow {
    filter: drop-shadow(2px 4px 6px black);
}

.buttons-last-slot {
    margin-right: 15px;
}

.ion-icon-card {
    color: rgb(35,166,178);
   
}

.div-card-span {
    font-weight: bold;
    margin-left: 2px
}


.div-card {
    display: inline-flex;
}