<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)='shutdown()'>
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    
    <ion-title>
      Sistema de Transmissão Nordeste
    </ion-title>   
    
    

    <ion-buttons slot="end">
      <ion-button>
        <ion-button (click)='openMenu()'>
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>

  </ion-toolbar> 
</ion-header>

<ion-content padding class="custom">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 45%">
      <img src="../assets/imgs/logo.png"/>       
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Detector de Corrosão em Hastes de Âncora
          </ion-card-title>          
            <ion-button color="primary" (click)='myclick()'><span class='button-text'>Iniciar</span></ion-button>                     
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid> 

  <app-menu></app-menu> 


</ion-content>