<ion-header>
  <ion-toolbar>
    <ion-title>
      Sistema de Transmissão Nordeste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="custom">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 45%">
      <img src="../assets/imgs/logo.png"/>       
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Detector de Corrosão em Hastes de Âncora
          </ion-card-title>
             <label class="custom-file-upload">
                <ion-icon class="custom-file-upload-icon" name="cloud-upload"></ion-icon> 
                <span class="custom-file-upload-span">Anexar Arquivo</span>
                <input (change)="onFileChange($event)" type="file" accept=".csv" #fileInput />
            </label>                       
          </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>