<ion-header no-border no-shadow class="ion-header-home">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)='openMenu()'>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>       
    </ion-buttons>
   
      <!-- <span class="battery-lvl">{{battery_lvl}}</span>
      <div class="battery-div">
        <ion-icon class="battery" slot="icon-only" name="battery-dead"></ion-icon>        
        <ion-icon class="battery battery-right" slot="icon-only" name="battery-full"></ion-icon>
      </div>
     -->
  
  </ion-toolbar> 
</ion-header>

<ion-content class="custom" fullscreen="true">
  <app-menu></app-menu> 
  <ion-grid >
    <ion-row justify-content-center align-items-center class='ion-row-logo'>
      <img class="light-shadow" src="../assets/imgs/Logo_Name_Black.png"/>
    </ion-row> 
    <ion-row justify-content-center align-items-center style="margin-top: 20%;">
      <div style="display: flex;">
      <ion-card button>
        <ion-item class="ion-activated">
          <div class="ion-item-div">
            <ion-icon name="school"></ion-icon>
            <ion-label>Machine Learning</ion-label>
        </div>
        </ion-item>
      </ion-card>       
  </div>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <div style="display: flex;">
      <ion-card button>
        <ion-item class="ion-activated">
          <div class="ion-item-div">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>Network Analyzer</ion-label>
        </div>
        </ion-item>
      </ion-card> 
      <ion-card button>
        <ion-item class="ion-activated">
          <div class="ion-item-div">
            <ion-icon name="stats"></ion-icon>
            <ion-label>Distance to Fault</ion-label>
        </div>
        </ion-item>
      </ion-card> 
    <!-- <ion-card> 
        <ion-item class="ion-activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Distance to Fault</ion-label>
        </ion-item>
    </ion-card>    -->
  </div>
    </ion-row>
  </ion-grid>
  
    


</ion-content>