<ion-header>
  <ion-toolbar>
    <ion-title class="form-head">Formulário de Medição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <form (ngSubmit)="logForm()" class="form">
    <ion-item class="myItem">
      <ion-label>Operador</ion-label>
      <ion-input class="myInput" type="text" required='True' [(ngModel)]="operator" name="operator" maxlength="20"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Linha</ion-label>
      <ion-input class="myInput" type="text"  required='True' [(ngModel)]="line" name="line" maxlength="20"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Torre</ion-label>
      <ion-input class="myInput" type="text" required='True' [(ngModel)]="tower" name="tower" maxlength="20"></ion-input>
    </ion-item>
    <ion-item class="lastInput">
      <ion-label>Estai</ion-label>
      <ion-input class="myInput" type="text"  required='True' [(ngModel)]="estai" name="estai" maxlength="20"></ion-input>
    </ion-item>
    <ion-button class="myButton" color="primary" type="submit"><span class='button-text'>Continuar</span></ion-button>
  </form>
</ion-content>
