.form-head {
    text-align: center;
}

.myInput {
    font-weight: bolder;
    font-size: small;
    text-transform: uppercase !important;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: 20px;
}

.myButton {
    margin-left: 40%;
}

.lastInput {
   margin-bottom: 3%;
}
