.menuContent {
    cursor: pointer;  
}

.endofLine {
    width: 100%;
    text-align: end;
    
}

.endofLine-icon {
    transform: rotate(90deg);
    color: rgb(35,166,178);
} 

@media only screen and (max-width: 550px) {
    
}

@media only screen and (max-width: 429px) {
    ion-item {
        font-size: smaller !important;
    }
          
}

@media only screen and (max-width: 399px) {
    ion-item {
        font-size: smaller !important;
    }

    
}


@media only screen and (max-width: 330px) {
    ion-item {
        font-size: x-small !important;
    }

     
}

